{% extends "base.html" %}

{% block body %}
    <div class="header">
        <div class="search-bar">
            <form method="POST" action="{{ url_for('search') }}">
                <input placeholder="Search" name="searched">
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="cart-button">
            <form method="POST" action="{{ url_for('cart') }}">
                <button type="submit">Cart</button>
            </form>
        </div>
    </div>

    {% block content %} {% endblock content %}
{% endblock body %}
