{% extends "base_w_header.html" %}

{% block content %}
    <iframe name="hidden_iframe" style="display:none;"></iframe>
    <h1>Your cart</h1>

    {% if order is defined and order.item_count > 0 %}
        <h2>{{ order.item_count }} {% if order.item_count > 0 %}items{% else %}item{% endif %}</h2>

        {% for item in order.items %}
            <ul>
                <li>
                    <form method="POST">
                        <button type="submit" name="edit_item" value="i{{ item.id }}">+</button>
                    </form>
                </li>
                <li>
                    {{ item_counts[item.id] }}x {{ item.price }}
                </li>
                <li>
                    <form method="POST">
                        <button type="submit" name="edit_item" value="d{{ item.id }}">-</button>
                    </form>
                </li>
                <li>
                    {{ item.name }}
                </li>
                <li>
                    <form method="POST">
                        <button type="submit" name="edit_item" value="r{{ item.id }}">🗑</button>
                    </form>
                </li>
            </ul>
        {% endfor %}

        <h2>Total: {{order.total_price}} €</h2>

        <form method="POST" action="{{ url_for('empty_cart') }}">
            <button type="submit">Empty cart</button>
        </form>
        <form method="POST" action="{{ url_for('finalized_order', order_id = order.id) }}">
            <button type="submit">Order</button>
        </form>
    {% else %}
        <img src="{{ url_for('static', filename='images/empty-cart.gif') }}">
        <h2>Nothing to see here :&#40;</h2>
        <a href="{{ url_for('menu') }}">get something nice</a>
    {% endif %}
{% endblock content %}
