{% extends "base.html" %}

{% block body %}
    <div class="index_titles">
        <h1 class="index_title">FOORPP</h1>
        <h3 class="index_subtitle">No more waiting in line, order with just a tap!</h3>
    </div>

    <div class="get_started_btn">
        <form method="POST" action="">
            <input type="submit" value="GET STARTED" name="get_started_btn">
        </form>
    </div>

    <div class="admin_login_btn">
        <form method="POST" action="">
            <input type="submit" value="Admin login" name="admin_login_btn">
        </form>
    </div>
{% endblock body %}
