{% extends "base_w_header.html" %}
{% block content %}
    <img src="{{ url_for('static', filename='images/default.jpg') }}">
    <h1>{{ item.name }}</h1>
    <ul>
        <li>
            {{ item.price }} €
        </li>
        {% if item.description is not none %}
        <li>
                {{ item.description }}
        </li>
        {% endif %}
        {% if item.tags|length > 0 %}
        <li>
            <ul>
                {% for tag in item.tags %}
                    <li>
                        {{ tag.tag }}
                    </li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
        {% if item.allergens|length > 0 %}
        <li>
            <ul>
                {% for allergen in item.allergens %}
                    <li>
                        {{ allergen.allergen }}
                    </li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
    </ul>
    <form method="POST" action="{{ url_for('add_to_cart', origin='item', item_id=item.id) }}">
        <button type="Submit">Add to cart</a>
    </form>
{% endblock content %}
