<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <br><br>
    {{ form.name.label }}
    <br>
    {{ form.name }}
    <br><br>
    {{ form.price.label }}
    <br>
    {{ form.price }}
    <br><br>
    {{ form.description.label }}
    <br>
    {{ form.description }}
    <br><br>
    {{ form.category.label}}
    <br>
    {{ form.category }}
    <br><br>
    {{ form.image.label }}
    <br>
    {{ form.image }}
    <br><br>
    {{ form.tags.label }}
    <br>
    {{ form.tags }}
    <br><br>
    {{ form.allergens.label }}
    <br>
    {{ form.allergens }}
    <br><br><br><br>
    {{ form.submit }}
</form>

