{% extends "base_w_header.html" %}
{% block content %}
    <a href="{{ url_for('admin') }}">Back</a>
    <img src="{{ url_for('static', filename=item.image) }}">
    <h1>{{ item.name }}</h1>
    {% if id == "admin" %}
        {% include "item_form.html" %}
        <form method="POST">
            <button type="Submit" name="remove_item">Remove item</button>
        </form>
    {% else %}
        <ul>
            <li>
                {{ item.price }} €
            </li>
            {% if item.description is not none %}
            <li>
                    {{ item.description }}
            </li>
            {% endif %}
            {% if item.allergens|length > 0 %}
            <li>
                {{ item.allergens }}
            </li>
            {% endif %}
        </ul>
        <form method="POST">
            <button type="Submit" name="add_to_cart">Add to cart</a>
        </form>
    {% endif %}
{% endblock content %}
