{% extends "base_w_header.html" %}

{% block content %}

    {% if id == "admin" %}
        <a href="{{ url_for('add_menu_item') }}">Add item</a>
    {% else %}
        <h1>Our finest selection</h1>
    {% endif %}

    <iframe name="hidden_iframe" style="display:none;"></iframe>
    <a href="{{ url_for('filter_items') }}">Filters</a>
    <a href="{{ url_for('clear_filters_button', back_page='menu') }}">Clear filters</a>
    <br><br>
    {% if items|length > 0 %}
    <ul>
        {% for item in items %}
            <li>
                <ul>
                    <li>
                        <img src="{{ url_for('static', filename=item.image) }}">
                    </li>
                    <li>
                        <h1><a href="{{ url_for('item', item_id=item.id) }}">{{ item.name }}</a></h1>
                    </li>
                    <li>
                        {{ item.price }} €
                    </li>
                    {% if item.description is not none %}
                    <li>
                        {{ item.description }}
                    </li>
                    {% endif %}
                    <li>
                        {% if id == "admin" %}
                            <a href="{{ url_for('item', item_id=item.id) }}">Edit item</a>
                        {% else %}
                            <form method="POST" target="hidden_iframe">
                                <button type="Submit" name="item_id" value="{{ item.id }}">Add to cart</a>
                            </form>
                        {% endif %}
                    </li>
                </ul>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <img src="{{ url_for('static', filename='images/empty-search.gif') }}">
        <p>No items matching your search, try something else...</p>
    {% endif %}

{% endblock content %}
