{% extends "base_w_header.html" %}

{% block content %}
    <h1>Order #{{ order.id }}</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Time placed</th>
            <th>Session</th>
            <th>Status</th>
            <th>Item Count</th>
            <th>Total price</th>
            <th>Items</th>
        </tr>
        <tr>
            <td> {{ order.id }} </td>
            <td> {{ order.time }} </td>
            <td> {{ order.session_id }} </td>
            <td> {{ order.status }} </td>
            <td> {{ order.item_count }} </td>
            <td> {{ order.total_price }} </td>
            <td>
                <ul>
                    {% for item in order.items %}
                        <li>
                            {{ item.name }}
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
    <br><br><br>
    <h3>Change status</h3>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.status }}
        {{ form.submit }}
    </form>
{% endblock content %}
